<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" />
    <!-- Bootstrap core js -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    @*<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <!-- Custom styles for this template -->
    <link href="~/contents/css/navbar.css" rel="stylesheet">
    <script src="~/scripts/common.js"></script>
    <script src="~/scripts/authed-nav-menu.js"></script>
    @RenderSection("styles", false)
</head>
<body>
    <div id="div-authed-nav-menu">
    </div>
    <div class="container" style="margin-top:100px;">
        @RenderSection("scripts", false)
        @RenderBody()
    </div>
</body>
</html>
